body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}
#ust{
	width:100%;
	height:40px;
	background-color: #EEEEEE;
	border-bottom: 3px solid #e2e2e2;
}
#sagust{
	width:35%;
	height:40px;
	background-color: #EEEEEE;
	float:right;
	font-size:12px;
	font-family: 'Open Sans',sans-serif;
}
#genel{
	width:80%;
	height:919px;
	margin-left: 10%;
	margin-top: 2%;
	border-bottom: 3px solid #e2e2e2;
}

#baslik{
	width:100%;
	height:130px;
	position:fixed;
	//background-color: #EEEEEE;
	
}

#ustbaslik{
	width:100%;
	height:50px;//background-color: #EEEEEE;
}
#menu{
	width:100%;
	height:50px;
	margin-top:2%;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom,#23a1d1,#1f90bb);
    background-repeat: repeat-x;
	padding-top:3px;

}

#menu li{
	display:inline;
	padding-left:20px;
	padding-top:3px;
}

#menu li a{
	color:white;	
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	padding-top:3px;
	display:inline;
}

a:hover{
	font-weight:bold;
	font-style:italic;
	font-weight: bold;
	color: #666;

}
#logo{
	width:111px;
	height:50px;
	float:left;
}
#search{
	width:40%;
	height:50px;
	float:left;
	margin-left:5%;
}
#shopingcart{
	width:30%;
	height:50px;
	float:left;
	margin-left:5%;
	margin-top:1%;
}

#search{
	width:50%;
	height:50px;
	float:left;
	margin-left:5%;
	margin-top:1%;
}

#searchtext{
	width:80%;
	height:50px;
	float:left;
	margin-left:5%;
	margin-top:1%;
}
#orta{
	width:100%;
	height:788px;
	margin-top:30px;
}

#urun{
	width:100%;
	height:1081px;
	margin-top:30px;
}

#urun_icerik{
	width:20%;
	height:463px;
	float: left;
	margin-left:3%;
	margin-top: 3%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;

}

#urun_resim{
	width:200px;
	height:200px;
	margin-left:5%;
}

#urun_aciklama{
	width:95%;
	height:210px;
	margin-left: 3%;
}

#urun_siparis{
	width:97%;
	height:45px;
	border-top: 2px solid #e2e2e2;
	background-color: #eee;
    color: #888;
	padding-left: 3%;
	padding-top: 3%;
}
#slider{
	width:100%;
	height:377px;
	margin-top:30px;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
}
#footer{
	width:100%;
	height:200px;
	margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    border-top: 1px solid #ddd;
    color: #e2e2e2;
	}
	
	#information{
	width:25%;
	height:200px;
	margin-left:15%;
	float:left;
	}
	#costumer_service{
	width:25%;
	height:200px;
	margin-left:5%;
	float:left;
	}
	#my_account{
	width:25%;
	height:200px;
	margin-left:5%;
	float:left;
	}
	
#adres_telefon{
	width:100%;
	height:180px;
	float:left;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
	margin-bottom:2%;
}
#adres{
	width:45%;
	height:180px;
	float:left;
	margin-left: 1%;
}
#telefon{
	width:45%;
	height:180px;
	float:left;
	margin-left: 8%;
}

#contact_us{
	width:100%;
	height:482px;
}

#input_name{
	width:100%;
	height:34px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
#input_email{
	width:100%;
	height:34px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
#input_email2{
	width:95%;
	height:34px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
#input_password{
	width:95%;
	height:34px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
#input_enquiry{
	width:100%;
	height:250px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

#register{
	width:24%;
	height:94%;
	float:left;
	margin-right:5%;
		border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
}

#row{
	width:70%;
	height:100%;
	float:left;
}

#new_customer{
	width:46%;
	height:25%;
	float:left;	
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
	background-color: #f5f5f5;
	padding-left: 2%;
}

#returning_customer{
	width:45%;
	height:50%;
	float:left;
	margin-left: 4%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
	background-color: #f5f5f5;
	padding-left: 2%;
}
#userLogin{
	width:61px;
	height:37px;
	background-image: url("../img/login.png");
}
#userLogin{
	width:61px;
	height:37px;
	background-image: url("../img/login.png");
}

#register_firstname{
    width: 80%;
	height: 34px;
    float: right;
}
#register_lastname{
    width: 80%;
	height: 34px;
    float: right;
}
#register_email{
    width: 80%;
	height: 34px;
    float: right;
}
#register_telephone{
    width: 80%;
	height: 34px;
    float: right;
}
#register_adres{
    width: 80%;
	height: 34px;
    float: right;
}

#inform{
    width: 100%;
    height: 6%;
}

#register_username{
    width: 80%;
	height: 34px;
    float: right;
}
#register_password{
    width: 80%;
	height: 34px;
    float: right;
}
#register_passwordconfirm{
    width: 80%;
	height: 34px;
    float: right;
}
#submit_registration{
	width:80px;
	height:37px;
	background-image: url("../img/devam.png");
}

#urunlistegoster{
	width:100%;
	height:20%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
}

#urunresim{
	width:20%;
	height:98%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;
	float:left;
}

#urunicerik{
	width:74%;
	height:98%;
	margin-left: 5%;
	float:left;
}

#showproductsol{
	width:61%;
	height:90%;
	float:left;
}

#showproductsag{
	width:33%;
	height:90%;
	margin-left: 5%;
	float:left;
}

#showproductsolresim{
	width:100%;
	height:50%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;	
}

#showproductsolicerik{
	width:100%;
	height:45%;
	margin-top: 5%;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;	
}

#checkout_shopingbox{
	width:100%;
	height:auto;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	border-left: 2px solid #e2e2e2;
	border-right: 2px solid #e2e2e2;	
	
}